{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
